Tutorial5/Tutorial5Client/xml-resources/web-service-references/Tutorial5WebService/wsdl/localhost_8080/Tutorial5/Tutorial5WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="Tutorial5WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/Tutorial5/Tutorial5WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getNumberofSamples">
<part name="parameters" element="tns:getNumberofSamples"/>
</message>
<message name="getNumberofSamplesResponse">
<part name="parameters" element="tns:getNumberofSamplesResponse"/>
</message>
<message name="isConnected">
<part name="parameters" element="tns:isConnected"/>
</message>
<message name="isConnectedResponse">
<part name="parameters" element="tns:isConnectedResponse"/>
</message>
<message name="getAverage">
<part name="parameters" element="tns:getAverage"/>
</message>
<message name="getAverageResponse">
<part name="parameters" element="tns:getAverageResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getMaximum">
<part name="parameters" element="tns:getMaximum"/>
</message>
<message name="getMaximumResponse">
<part name="parameters" element="tns:getMaximumResponse"/>
</message>
<message name="getMinimum">
<part name="parameters" element="tns:getMinimum"/>
</message>
<message name="getMinimumResponse">
<part name="parameters" element="tns:getMinimumResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="addSample">
<part name="parameters" element="tns:addSample"/>
</message>
<message name="addSampleResponse">
<part name="parameters" element="tns:addSampleResponse"/>
</message>
<portType name="Tutorial5WebService">
<operation name="getNumberofSamples">
<input wsam:Action="http://server/Tutorial5WebService/getNumberofSamplesRequest" message="tns:getNumberofSamples"/>
<output wsam:Action="http://server/Tutorial5WebService/getNumberofSamplesResponse" message="tns:getNumberofSamplesResponse"/>
</operation>
<operation name="isConnected">
<input wsam:Action="http://server/Tutorial5WebService/isConnectedRequest" message="tns:isConnected"/>
<output wsam:Action="http://server/Tutorial5WebService/isConnectedResponse" message="tns:isConnectedResponse"/>
</operation>
<operation name="getAverage">
<input wsam:Action="http://server/Tutorial5WebService/getAverageRequest" message="tns:getAverage"/>
<output wsam:Action="http://server/Tutorial5WebService/getAverageResponse" message="tns:getAverageResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial5WebService/getAverage/Fault/Exception"/>
</operation>
<operation name="getMaximum">
<input wsam:Action="http://server/Tutorial5WebService/getMaximumRequest" message="tns:getMaximum"/>
<output wsam:Action="http://server/Tutorial5WebService/getMaximumResponse" message="tns:getMaximumResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial5WebService/getMaximum/Fault/Exception"/>
</operation>
<operation name="getMinimum">
<input wsam:Action="http://server/Tutorial5WebService/getMinimumRequest" message="tns:getMinimum"/>
<output wsam:Action="http://server/Tutorial5WebService/getMinimumResponse" message="tns:getMinimumResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial5WebService/getMinimum/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server/Tutorial5WebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/Tutorial5WebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="addSample">
<input wsam:Action="http://server/Tutorial5WebService/addSampleRequest" message="tns:addSample"/>
<output wsam:Action="http://server/Tutorial5WebService/addSampleResponse" message="tns:addSampleResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial5WebService/addSample/Fault/Exception"/>
</operation>
</portType>
<binding name="Tutorial5WebServicePortBinding" type="tns:Tutorial5WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getNumberofSamples">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isConnected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAverage">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getMaximum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getMinimum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addSample">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="Tutorial5WebService">
<port name="Tutorial5WebServicePort" binding="tns:Tutorial5WebServicePortBinding">
<soap:address location="http://localhost:8080/Tutorial5/Tutorial5WebService"/>
</port>
</service>
</definitions>