Tutorial4/Tutorial4Client/src/META-INF/wsdl/localhost_8080/TutorialFour/Tutorial4WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="Tutorial4WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/TutorialFour/Tutorial4WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="isConnected">
<part name="parameters" element="tns:isConnected"/>
</message>
<message name="isConnectedResponse">
<part name="parameters" element="tns:isConnectedResponse"/>
</message>
<message name="divideWithException">
<part name="parameters" element="tns:divideWithException"/>
</message>
<message name="divideWithExceptionResponse">
<part name="parameters" element="tns:divideWithExceptionResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="addWithExceptions">
<part name="parameters" element="tns:addWithExceptions"/>
</message>
<message name="addWithExceptionsResponse">
<part name="parameters" element="tns:addWithExceptionsResponse"/>
</message>
<message name="substractWithException">
<part name="parameters" element="tns:substractWithException"/>
</message>
<message name="substractWithExceptionResponse">
<part name="parameters" element="tns:substractWithExceptionResponse"/>
</message>
<message name="multiplyWithException">
<part name="parameters" element="tns:multiplyWithException"/>
</message>
<message name="multiplyWithExceptionResponse">
<part name="parameters" element="tns:multiplyWithExceptionResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Tutorial4WebService">
<operation name="isConnected">
<input wsam:Action="http://server/Tutorial4WebService/isConnectedRequest" message="tns:isConnected"/>
<output wsam:Action="http://server/Tutorial4WebService/isConnectedResponse" message="tns:isConnectedResponse"/>
</operation>
<operation name="divideWithException">
<input wsam:Action="http://server/Tutorial4WebService/divideWithExceptionRequest" message="tns:divideWithException"/>
<output wsam:Action="http://server/Tutorial4WebService/divideWithExceptionResponse" message="tns:divideWithExceptionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial4WebService/divideWithException/Fault/Exception"/>
</operation>
<operation name="addWithExceptions">
<input wsam:Action="http://server/Tutorial4WebService/addWithExceptionsRequest" message="tns:addWithExceptions"/>
<output wsam:Action="http://server/Tutorial4WebService/addWithExceptionsResponse" message="tns:addWithExceptionsResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial4WebService/addWithExceptions/Fault/Exception"/>
</operation>
<operation name="substractWithException">
<input wsam:Action="http://server/Tutorial4WebService/substractWithExceptionRequest" message="tns:substractWithException"/>
<output wsam:Action="http://server/Tutorial4WebService/substractWithExceptionResponse" message="tns:substractWithExceptionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial4WebService/substractWithException/Fault/Exception"/>
</operation>
<operation name="multiplyWithException">
<input wsam:Action="http://server/Tutorial4WebService/multiplyWithExceptionRequest" message="tns:multiplyWithException"/>
<output wsam:Action="http://server/Tutorial4WebService/multiplyWithExceptionResponse" message="tns:multiplyWithExceptionResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial4WebService/multiplyWithException/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server/Tutorial4WebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/Tutorial4WebService/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="Tutorial4WebServicePortBinding" type="tns:Tutorial4WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="isConnected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divideWithException">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addWithExceptions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="substractWithException">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="multiplyWithException">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Tutorial4WebService">
<port name="Tutorial4WebServicePort" binding="tns:Tutorial4WebServicePortBinding">
<soap:address location="http://localhost:8080/TutorialFour/Tutorial4WebService"/>
</port>
</service>
</definitions>