Tutorial8/Tutorial8Client/xml-resources/web-service-references/Tutorial8WebService/wsdl/localhost_8080/Tutorial8/Tutorial8WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="Tutorial8WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/Tutorial8/Tutorial8WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getNumberofSamples">
<part name="parameters" element="tns:getNumberofSamples"/>
</message>
<message name="getNumberofSamplesResponse">
<part name="parameters" element="tns:getNumberofSamplesResponse"/>
</message>
<message name="getMaximum">
<part name="parameters" element="tns:getMaximum"/>
</message>
<message name="getMaximumResponse">
<part name="parameters" element="tns:getMaximumResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="addSample">
<part name="parameters" element="tns:addSample"/>
</message>
<message name="addSampleResponse">
<part name="parameters" element="tns:addSampleResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="saveStatus">
<part name="parameters" element="tns:saveStatus"/>
</message>
<message name="saveStatusResponse">
<part name="parameters" element="tns:saveStatusResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="FileNotFoundException">
<part name="fault" element="tns:FileNotFoundException"/>
</message>
<message name="isConnected">
<part name="parameters" element="tns:isConnected"/>
</message>
<message name="isConnectedResponse">
<part name="parameters" element="tns:isConnectedResponse"/>
</message>
<message name="loadStatus">
<part name="parameters" element="tns:loadStatus"/>
</message>
<message name="loadStatusResponse">
<part name="parameters" element="tns:loadStatusResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<portType name="Tutorial8WebService">
<operation name="getNumberofSamples">
<input wsam:Action="http://server/Tutorial8WebService/getNumberofSamplesRequest" message="tns:getNumberofSamples"/>
<output wsam:Action="http://server/Tutorial8WebService/getNumberofSamplesResponse" message="tns:getNumberofSamplesResponse"/>
</operation>
<operation name="getMaximum">
<input wsam:Action="http://server/Tutorial8WebService/getMaximumRequest" message="tns:getMaximum"/>
<output wsam:Action="http://server/Tutorial8WebService/getMaximumResponse" message="tns:getMaximumResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial8WebService/getMaximum/Fault/Exception"/>
</operation>
<operation name="addSample">
<input wsam:Action="http://server/Tutorial8WebService/addSampleRequest" message="tns:addSample"/>
<output wsam:Action="http://server/Tutorial8WebService/addSampleResponse" message="tns:addSampleResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/Tutorial8WebService/addSample/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server/Tutorial8WebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/Tutorial8WebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="saveStatus">
<input wsam:Action="http://server/Tutorial8WebService/saveStatusRequest" message="tns:saveStatus"/>
<output wsam:Action="http://server/Tutorial8WebService/saveStatusResponse" message="tns:saveStatusResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server/Tutorial8WebService/saveStatus/Fault/IOException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Tutorial8WebService/saveStatus/Fault/FileNotFoundException"/>
</operation>
<operation name="isConnected">
<input wsam:Action="http://server/Tutorial8WebService/isConnectedRequest" message="tns:isConnected"/>
<output wsam:Action="http://server/Tutorial8WebService/isConnectedResponse" message="tns:isConnectedResponse"/>
</operation>
<operation name="loadStatus">
<input wsam:Action="http://server/Tutorial8WebService/loadStatusRequest" message="tns:loadStatus"/>
<output wsam:Action="http://server/Tutorial8WebService/loadStatusResponse" message="tns:loadStatusResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://server/Tutorial8WebService/loadStatus/Fault/IOException"/>
<fault message="tns:FileNotFoundException" name="FileNotFoundException" wsam:Action="http://server/Tutorial8WebService/loadStatus/Fault/FileNotFoundException"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://server/Tutorial8WebService/loadStatus/Fault/ClassNotFoundException"/>
</operation>
</portType>
<binding name="Tutorial8WebServicePortBinding" type="tns:Tutorial8WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getNumberofSamples">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMaximum">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addSample">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="saveStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="isConnected">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loadStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="FileNotFoundException">
<soap:fault name="FileNotFoundException" use="literal"/>
</fault>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Tutorial8WebService">
<port name="Tutorial8WebServicePort" binding="tns:Tutorial8WebServicePortBinding">
<soap:address location="http://localhost:8080/Tutorial8/Tutorial8WebService"/>
</port>
</service>
</definitions>